doctype html
html lang=I18n.locale
  head
    meta charset=Rails.application.config.encoding
    = stylesheet_link_tag 'user_mailer', media: 'all'
  body.vacancy-boby
    #main-wrap
      section.wrap.holder style="margin-top: 30px; margin-bottom: 30px;"
        .h1-title Отлик на вакансию «BackEnd RoR разработчик»
        .b-appeal.vacancy-b-appeal
          .b-appeal-img = image_tag "/content/images/users/user_ico_vacancy.png"
          .b-appeal-desc
            .b-appeal--name Евгений Лисовский
            .b-appeal--post Системный администратор (11 лет) и разработчик (4-5 года)
            .b-appeal--text
              p
                ' Желаемая зп:
                b не знаю сколько могут получать разработчики с моим невысоким уровнем.
              p
                ' E-mail:
                b = mail_to "mult@multed.com"
              p
                ' Telegram:
                b @multed
              p
                ' Slack:
                b -
        .h2-title.vacancy-title
          ' Навыки
          small (отметить нужное или дополнить)
        = form_for "form_name", method: :get, url: "#", html: {class: "b-form", id: "b-form-1"} do |f|
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'PostgreSQL', checked: true), OpenStruct.new(val: 'MS SQL', checked: true), OpenStruct.new(val: 'MySQL', checked: true)], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'mina'), OpenStruct.new(val: 'capistrano'), OpenStruct.new(val: 'другое')], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'slim'), OpenStruct.new(val: 'erb', checked: true), OpenStruct.new(val: 'Haml', checked: true)], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'coffescript'), OpenStruct.new(val: 'typescript'), OpenStruct.new(val: 'другое')], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'jQuery', checked: true), OpenStruct.new(val: 'vanilla js'), OpenStruct.new(val: 'другое')], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'scss'), OpenStruct.new(val: 'css', checked: true), OpenStruct.new(val: 'другое')], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'mac os'), OpenStruct.new(val: 'linux', checked: true), OpenStruct.new(val: 'другое')], :val, :val, {}, {class: "f-field-check"}
          .vacancy-checkbox
            = f.collection_check_boxes :checkboxes, [OpenStruct.new(val: 'RubyMine'), OpenStruct.new(val: 'SubLime', checked: true), OpenStruct.new(val: 'Atom/MS Code', checked: true)], :val, :val, {}, {class: "f-field-check"}

          /div.b-checktree
            ul.b-checktree-list
              li.b-checktree--item
                input#rcheckbox0.f-field-check.disable type="checkbox"
                label for="rcheckbox0" Node 0
              li.b-checktree--item
                input#rcheckbox1.f-field-check.ffc-root type="checkbox"
                label for="rcheckbox1" Node 1
                ul.b-checktree-list
                  li.b-checktree--item
                    input#rcheckbox2.f-field-check.ffc-root type="checkbox"
                    label for="rcheckbox2" Node 1.1
                    ul.b-checktree-list
                      li.b-checktree--item
                        input#rcheckbox3.f-field-check type="checkbox"
                        label for="rcheckbox3" Node 1.2
        article.content
          h2.vacancy-title Дополнительная информация
          p 
            ' Програмировать я начал с Perl, потом перешел на Ruby. Много написано консольного кода - без фреймворков. Для веба использую Sinatra + Haml (
            a href='http://q.multed.com' 
              ' q.multed.com
            ' ,
            a href='https://lookatnews.info' 
              ' lookatnews.info
            ' , 
            a href='http://starquake2.ru' 
              ' starquake2.ru
            ' - во всех этих проектах бд MongoDB). Пробовал писать на RoR и Hanami, но не хватало стимулов закончить проекты (почти на половину закончена система для вебинаров с чатом трансляцией в Hangout/YouTube), либо переписывал быстро на Sinatra.

